[include]
  path = ~/.gitconfig-personal

[init]
  defaultBranch = master

[alias]
  a = add

  b = branch

  c = commit
  cp = cherry-pick

  ch = checkout

  s = status

  l = log
  ls = shortlog

  d = diff

  sh = show

[merge]
  log = true # 20
